<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>
  
  <!-- Display the content of the user's first micropost -->
  <% if user.microposts.any? %>
    <p>
      <strong>First Micropost:</strong>
      <%= user.microposts.first.content %>
    </p>
  <% else %>
    <p>This user has no microposts.</p>
  <% end %>

</div>
